.services-item {
    margin-top: 24px;
    padding: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted-subheading-2 {
    color: #000;
}

.services-content{
    padding-left: 24px;
}