.btn-1{
    color: #fff;
    background-color: #F76B6A;
    border: #F76B6A;
    padding:  10px 17px;
}
.btn-1:hover{
    color:#F76B6A ;
    background-color: #9c4343;
    text-decoration: none;
}
.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: coral;
	border: none;
}
.btn-product{
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    flex-direction: column;
    max-height: 600px;
    max-width: 280px;
}
.btn-view-product{
	font-size: 20px;
	background-color: coral;
	color: #fff;
}